#atticVue {
    $albumHeight: 220px;
    $filterPanelWidth: 360px;

    @include vue;
    display: flex;
    // overflow: hidden;

    .filter-section {
        display: flex;
        flex-direction: column;

        left: 0;
        bottom: 0;

        box-sizing: border-box;

        // height: 94vh; // Arbitrary
        width: $filterPanelWidth;
        border-right: solid 2px $primary;
        box-sizing: border-box;
        // overflow-y: auto;
        // overflow-x: hidden;

        background: $secondary-dark;

        #regionsYears {
            display: flex;
        }

        &__title {
            font-size: 22px;
            padding: 15px 20px;
            border-bottom: solid 1px $primary;
        }

        &__panel {
            // width: $filterPanelWidth;
            // border-right: solid $borderThick $primary;
            padding: 15px;
            box-sizing: border-box;

            #resetFilterButton {
                width: 100%;
                padding: 5px 10px;
                border: solid 2px $primary;
                border-radius: $borderRadius;
                font-size: $mainFontSizeSmall;
            }

            .checkbox-wrapper {
                margin-bottom: 10px;
                font-size: 18px;
            }
        }
    }

    .album-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: baseline;
        // overflow-x: hidden;
        overflow-y: scroll;
        // width: 100%;
        // height: 100%;
        // height: 94vh; // Arbitrary
    }

    .album-wrapper {
        $numberOfAlbumsPerRow: 8;
        display: flex;
        flex-direction: column;
        position: relative;
        // height: $albumHeight;
        // width: $albumHeight;
        height: auto;
        // min-height: 100% / $numberOfAlbumsPerRow;
        width: 100% / $numberOfAlbumsPerRow;
        font-size: 17px;
        margin-bottom: -5px; // Why though
    }
}