<!DOCTYPE html>
<html>
    <head>
        <title>Would you like a snack</title>
        <meta charset="UTF-8">
        <meta name="description" content="Explore what Prog music has to offer" />
        <link rel="icon" type="image/ico" href="img/favicon.svg"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="style/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>

        <div id="indexVue">

            <header>
                <div id="left">
                    <button id="atticButton" v-if="currentVue != 'atticVue'" v-on:click="setCurrentVue('atticVue')">What's in the attic</button>
                    <button id="randomButton" v-if="currentVue == 'atticVue'" v-on:click="setCurrentVue('albumVue')">Surprise me</button>
                    <div id="collectionSize">{{albums.length}} albums</div>
                </div>
                <h1>Would you like a snack</h1>
                <div id="right">
                    <button id="aboutButton" v-if="currentVue != 'aboutVue'" v-on:click="setCurrentVue('aboutVue')">About the project</button>
                    <button id="randomButtonBis" v-if="currentVue == 'aboutVue'" v-on:click="setCurrentVue('albumVue')">Surprise me</button>
                </div>
            </header>

            <div id="spinningVinylWrapper">
                <img class="spinning-vinyl spinning" src="img/vinyle gold.png" alt="">
            </div>

            <section id="albumVue" v-if="currentVue == 'albumVue'">

                <button id="randomButton" v-on:click="randomizeAlbum">Surprise me</button>

                <div class="content">
                    <div class="album-metadata">
                        <div class="album-title">{{selectedAlbum.title}}</div>
                        <div class="album-artist">{{selectedAlbum.artist}}</div>
                        <div class="album-year">{{selectedAlbum.year}}</div>
                        <div class="album-country">{{selectedAlbum.country}}</div>
                        <div>Selected track: <span class="album-selected-track">{{selectedAlbum.selectedTrackTitle}}</span></div>
                        <a v-if="selectedAlbum.selectedTrackYtId" v-bind:href=selectedAlbum.selectedTrackYtId target="_blank">
                            <div class="album-selected-track-url">Listen on YouTube</div>
                        </a>
                        <!-- <div id="player" v-if="currentVue == 'albumVue'"></div> -->
                    </div>
                    <img v-bind:src=selectedAlbum.cover alt="">
                    <div class="album-criteria">
                        <div class="album-criterium" v-for="criterium in computedCriteria">{{criterium}}</div>
                    </div>
                </div>

                <footer id="randomVue">
                    <img v-for="album in randomAlbums" v-bind:id="album.id" v-bind:src=album.cover v-on:click="selectAlbumAndRandomize($event)" alt="">
                </footer>
            </section>

            <section id="atticVue" v-if="currentVue == 'atticVue'">
                <div class="artist" v-for="artist in artists">
                    <div class="artist-name">{{artist}}</div>
                    <div class="artist-discography">
                        <div class="album-wrapper" v-for="album in albums" v-if="album.artist == artist">
                            <span class="album-year">{{album.year}}</span>
                            <img class="album" v-bind:id="album.id" v-bind:src=album.cover v-on:click="setAlbumVueAndselectAlbum($event)" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section id="aboutVue" v-if="currentVue == 'aboutVue'">
                <h2>Hi!</h2>
                <p>
                    Would You Like A Snack is a tiny web project with big music amibitions: dusting old prog albums, known as prog gems, to make them shine beside classic albums.
                </p>
                <p>
                    Prog albums are anything related to progressive music, from late 60's psychedelic vibes to early 80's electronic wave ; still focusing on the progressive bloom of the 70's.
                </p>
                <p>
                    This project is designed as a tool to discover albums, the way we would pick up vinyls in music stores, as well as centralizer of what can be found scrapping the web.
                </p>
                <p>
                    If you spot any wrong information or any typo, think of improvements, or would like to leave a sweet comment, please feel free to contact me at benjent@hotmail.fr.
                </p>
            </section>

        </div>

        <script type="text/javascript" src="js/criteria.js"></script>
        <script type="text/javascript" src="js/albums.js"></script>
        <script src="js/main.js"></script>
    </body>
    
</html>