$searchBarWidth: 300px;
$borderRadius: 30px;

.search-bar {
    // Fix flex display bug in most browsers
    display: flex;
    flex-direction: column;
    height: 40px;

    background: $secondary;
    color: $primary;

    border-bottom: solid 1px $primary;

    .arrow {
        z-index: 1;
        margin: 0 auto;
        transform: rotate(180deg);
        margin-bottom: -20px;
    }

    &__input {
        width: $searchBarWidth;
        height: 100%;

        box-sizing: border-box;
        
        padding: 5px 10px;
        
        font-size: $mainFontSizeSmall;
    }

    &__reset {
        $crossSize: 20px;

        position: absolute;
        right: 30px;
        top: 20px;

        width: $crossSize;
        height: $crossSize;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }

        &:before, &:after {
            content: '';
            position: absolute;
            left: 12px;
            height: 22px;
            width: 2px;
            background-color: $primary;
        }

        &:before { transform: rotate(45deg); }

        &:after { transform: rotate(-45deg); }
          
    }

    &__result {
        position: relative;
        top: 11px;
    }
}

.search-result {
    position: absolute;
    
    max-height: 300px;               
    width: $searchBarWidth;

    box-sizing: border-box;
    border: solid 2px $primary;
    border-top: none;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    background: $secondary;

    overflow-x: hidden;
    overflow-y: auto;

    font-size: $mainFontSizeSmall;

    &__item {
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
            background: $primary;
            color: $black;
        }
    }
}

.album-line {
    display: flex;
    &__cover {
        width: 36px;
        height: 36px;
        margin-right: 5px;
    }
    &__title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
    }
}