$searchBarWidth: 300px;
$borderRadius: 30px;

.searchBar {
    // Fix flex display bug in most browsers
    display: flex;
    flex-direction: column;
    height: 40px;

    background: $secondary;
    color: $primary;

    border-bottom: solid 1px $primary;
    &__input {
        width: $searchBarWidth;
        height: 100%;

        box-sizing: border-box;
        
        padding: 5px 10px;
        // border: solid 2px $primary;
        // border-top-left-radius: $borderRadius;
        // border-top-right-radius: $borderRadius;
        
        font-size: $mainFontSizeSmall;
        
        &:empty {
            // border-radius: $borderRadius;
        }
    }

    &__reset {
        $crossSize: 26px;
        position: absolute;
        right: $crossSize;
        top: 38px;
        width: $crossSize;
        height: $crossSize;
        // opacity: 0.3;
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
        &:before, &:after {
            content: '';
            position: absolute;
            left: 12px;
            height: 22px;
            width: 2px;
            background-color: $primary;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
          
    }

    &__result {
        position: relative;
        // top: 1px;
        top: 11px;
    }
}

.searchResult {
    // height: 100%; 
    max-height: 300px;               
    width: $searchBarWidth;
    box-sizing: border-box;
    position: absolute;
    // top: 50px;
    z-index: 5;
    background: $secondary;
    overflow-x: hidden;
    overflow-y: auto;
    border: solid 2px $primary;
    border-top: none;
    // padding-right: 20px;
    font-size: $mainFontSizeSmall;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    &__item {
        display: flex;
        align-items: center;
        &:hover {
            cursor: pointer;
            background: $primary;
            color: $black;
        }
    }
}

.albumLine {
    display: flex;
    &__cover {
        // width: 30px;
        // height: 30px;
        width: 36px;
        height: 36px;
        margin-right: 5px;
    }
    &__title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
    }
}