@import url("https://fonts.googleapis.com/css?family=Oswald");
body {
  border: 0;
  margin: 0;
  overflow: hidden !important;
}

h1 {
  margin: 0;
}

button,
input,
select {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner {
  border: none;
}

a {
  text-decoration: none;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #fff8f8;
  border: 1px solid #d6be94;
  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #d6be94;
}

.pace.pace-inactive {
  display: none;
}

.pace-running > *:not(.pace) {
  opacity: 0;
}

.simplebar-scrollbar::before {
  background: #d6be94 !important;
  opacity: 1 !important;
}

a {
  color: #d6be94;
}

a:hover, a:focus {
  color: #d6be94;
}

@-webkit-keyframes GradientWave {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes GradientWave {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

button {
  background: #375456;
  background-size: 400%;
  border: solid 3px #d6be94;
  padding: 5px 20px;
  display: block;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(141deg, #375456 0%, #375456 70%, #674e47 90%);
  background-size: 250%;
  background-position: 100%;
  -webkit-animation: GradientWave 0.2s ease;
          animation: GradientWave 0.2s ease;
}

.select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.select-wrapper select {
  width: 100%;
  padding: 5px 10px;
  border: solid 2px #d6be94;
  background: #375456;
  font-size: 20px;
}

.select-wrapper::after {
  content: '';
  display: block;
  position: relative;
  top: 14px;
  right: 30px;
  width: 10px;
  height: 10px;
  border: solid 2px #d6be94;
  border-left: none;
  border-top: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#spinningVinylWrapper {
  position: absolute;
  overflow-x: visible;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 305px;
  right: 0;
  height: 100%;
  z-index: -1;
}

#spinningVinylWrapper .spinning {
  -webkit-animation: spinning 30s linear infinite;
          animation: spinning 30s linear infinite;
}

#spinningVinylWrapper .spinning-vinyl {
  position: relative;
  top: 40%;
  height: 180%;
  opacity: 0.8;
  -webkit-filter: grayscale(20%);
          filter: grayscale(20%);
}

.arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #d6be94;
}

.arrow .arrow__inside {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid #375456;
  position: relative;
  right: 18px;
  top: 4px;
}

.arrow .arrow__inside--dark {
  border-bottom: 18px solid #1c3e40;
}

.arrow.small {
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #d6be94;
}

.arrow.small .arrow__inside {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #375456;
  right: 12px;
}

.arrow.small .arrow__inside--dark {
  border-bottom: 12px solid #1c3e40;
}

.checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox-wrapper .checkbox-slot {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: #030504;
  border: solid 2px #d6be94;
  margin-right: 10px;
}

.checkbox-wrapper.isRadio .checkbox-slot {
  border-radius: 50%;
}

.checkbox-wrapper.checked .checkbox-slot {
  background: #d6be94;
}

.checkbox-wrapper:hover .checkbox-slot {
  background: linear-gradient(141deg, #375456 10%, #674e47 90%);
}

.checkbox-wrapper.checked:hover .checkbox-slot {
  background: #d6be94;
}

.checkbox-wrapper label {
  cursor: pointer;
}

.album-thumb {
  position: relative;
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
}

.album-thumb:hover .album-infos {
  opacity: 1;
  cursor: pointer;
}

.album-thumb .album-infos {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.album-thumb .album-infos__rating {
  font-style: italic;
  font-weight: bold;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.album-thumb .album-cover {
  width: 100%;
}

.album-thumb .album-cover:hover {
  cursor: pointer;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40px;
  background: #375456;
  color: #d6be94;
  border-bottom: solid 1px #d6be94;
}

.search-bar .arrow {
  z-index: 1;
  margin: 0 auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: -20px;
}

.search-bar__input {
  width: 300px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 10px;
  font-size: 20px;
}

.search-bar__reset {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 20px;
  height: 20px;
}

.search-bar__reset:hover {
  opacity: 1;
  cursor: pointer;
}

.search-bar__reset:before, .search-bar__reset:after {
  content: '';
  position: absolute;
  left: 12px;
  height: 22px;
  width: 2px;
  background-color: #d6be94;
}

.search-bar__reset:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search-bar__reset:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search-bar__result {
  position: relative;
  top: 11px;
}

.search-result {
  position: absolute;
  max-height: 300px;
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px #d6be94;
  border-top: none;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #375456;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 20px;
}

.search-result__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-result__item:hover {
  cursor: pointer;
  background: #d6be94;
  color: #030504;
}

.album-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.album-line__cover {
  width: 36px;
  height: 36px;
  margin-right: 5px;
}

.album-line__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  height: 60px;
  width: 100vw;
  background: #1c3e40;
  border-bottom: solid 2px #d6be94;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__headline {
  font-size: 30px;
  cursor: pointer;
}

.header__menu {
  height: 100%;
  font-size: 20px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin: 0 20px;
  white-space: nowrap;
}

.menu__button:hover {
  cursor: pointer;
}

.menu__button.router-link-active {
  pointer-events: none;
}

.menu__button.router-link-active .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu__button .text {
  padding: 15px 0;
}

.histogram-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

.histogram-horizontal__caption {
  padding-bottom: 50px;
}

.histogram-horizontal__datavis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 150px;
}

.histogram-horizontal__datavis .datavis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
}

.histogram-horizontal__datavis .datavis__label {
  width: 30%;
  text-align: right;
  padding-right: 10px;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.histogram-horizontal__datavis .datavis__data {
  padding: 5px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.histogram-horizontal__datavis .datavis__data .gauge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  min-width: 30px;
  height: 25px;
  background: #d6be94;
  color: #1c3e40;
}

.histogram-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.histogram-vertical__caption {
  padding-bottom: 50px;
}

.histogram-vertical__datavis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 300px;
  margin-bottom: 150px;
}

.histogram-vertical__datavis .datavis {
  height: 100%;
}

.histogram-vertical__datavis .datavis__data {
  padding: 5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.histogram-vertical__datavis .datavis__data .gauge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 6px;
  min-height: 30px;
  width: 25px;
  background: #d6be94;
  color: #1c3e40;
}

.histogram-vertical__datavis .datavis__label {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-writing-mode: sideways-lr;
      -ms-writing-mode: sideways-lr;
          writing-mode: sideways-lr;
  position: relative;
  margin-top: 20px;
}

#timelineVue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100vw;
  position: fixed;
  bottom: 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

#timelineVue .album {
  display: contents;
}

#timelineVue .album__cover {
  display: block;
  width: 160px;
  height: 160px;
  background: #d6be94;
  margin-top: 20px;
  border-top: solid 6px #d6be94;
}

#timelineVue .album__cover:hover {
  cursor: pointer;
}

#timelineVue .album__year {
  display: table;
  width: 75px;
  z-index: 1;
  background: #375456;
  color: #d6be94;
  margin-right: -75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px #d6be94;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  padding: 2px 15px;
  font-size: 16px;
  text-align: center;
}

#aboutVue {
  width: 100%;
  height: 94vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aboutVue .content {
  width: 60%;
  padding-top: 50px;
}

#aboutVue .me {
  float: right;
  margin-left: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutVue .me__photo {
  width: 200px;
  border: solid 4px #d6be94;
  border-radius: 30px;
}

#aboutVue .me__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-style: italic;
}

#albumVue {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 94vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#albumVue button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 30px;
}

#albumVue #randomButton {
  margin-top: 50px;
}

#albumVue .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#albumVue .content .album-metadata {
  text-align: right;
  width: 45%;
}

#albumVue .content .album-metadata .album-title {
  font-style: italic;
  font-size: 38px;
}

#albumVue .content .album-metadata #player {
  display: block;
  border: solid 3px #d6be94;
  margin-top: 14px;
}

#albumVue .content .album-cover-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 45px;
  margin-bottom: 25px;
  height: 300px;
  border: solid 5px #d6be94;
  width: auto;
}

#albumVue .content .album-cover-wrapper img {
  height: 100%;
  display: block;
}

#albumVue .content .album-gem {
  font-size: 30px;
}

#albumVue .content .album-criteria {
  width: 45%;
}

#albumVue .album-selected-track-wrapper {
  margin-bottom: 45px;
}

#albumVue .album-selected-track-wrapper .album-selected-track {
  font-style: italic;
  padding: 0 5px;
}

#albumVue .album-selected-track-wrapper .youtube-logo {
  width: 100px;
  margin-top: 10px;
}

#atticVue {
  width: 100%;
  height: 94vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#atticVue .filter-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  border-right: solid 2px #d6be94;
  box-sizing: border-box;
  background: #1c3e40;
}

#atticVue .filter-section #regionsYears {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#atticVue .filter-section__title {
  font-size: 22px;
  padding: 15px 20px;
  border-bottom: solid 1px #d6be94;
}

#atticVue .filter-section__panel {
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#atticVue .filter-section__panel #resetFilterButton {
  width: 100%;
  padding: 5px 10px;
  border: solid 2px #d6be94;
  border-radius: 30px;
  font-size: 20px;
}

#atticVue .filter-section__panel .checkbox-wrapper {
  margin-bottom: 10px;
  font-size: 18px;
}

#atticVue .album-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
  overflow-y: scroll;
}

#atticVue .album-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: auto;
  width: 12.5%;
  font-size: 17px;
  margin-bottom: -5px;
}

#designersVue {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 94vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#designersVue .designer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: 40px;
  margin: 0 auto;
}

#designersVue .designer__name {
  font-size: 30px;
  padding-bottom: 10px;
}

#designersVue .designer .border-wrapper {
  border-top: solid 2px;
  padding: 0 50px;
}

#designersVue .designer .border-wrapper .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: 0 auto;
  margin-bottom: -20px;
  z-index: 1;
}

#designersVue .designer__albums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#designersVue .designer__albums .album-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: auto;
  font-size: 17px;
  width: 150px;
  height: 150px;
}

#discographiesVue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 94vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#discographiesVue .logo {
  width: 100px;
}

#discographiesVue .logo:hover {
  cursor: pointer;
}

#discographiesVue .artists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  bottom: 0;
  width: 300px;
  min-width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: solid 2px #d6be94;
  padding: 15px;
  background: #1c3e40;
  font-size: 18px;
}

#discographiesVue .artists__item:hover {
  cursor: pointer;
}

#discographiesVue .artists__item--selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

#discographiesVue .artists__arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#discographiesVue .discography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  width: 178px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 50px;
}

#discographiesVue .discography__item {
  width: 120px;
  height: 120px;
  border-right: solid 2px #d6be94;
}

#discographiesVue .discography__item:last-of-type {
  border-bottom: solid 2px #d6be94;
}

#discographiesVue .discography__item:hover {
  cursor: pointer;
}

#discographiesVue .album-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 50px;
  font-size: 20px;
}

#discographiesVue .album-presentation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#discographiesVue .album-presentation__cover {
  display: block;
  width: 300px;
  height: 300px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: solid 3px #d6be94;
}

#discographiesVue .album-presentation .album-data__label {
  font-size: 16px;
}

#discographiesVue .album-presentation .album-data__secondary-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

#discographiesVue .album-presentation .album-data__secondary-info__item {
  padding-left: 20px;
}

#discographiesVue .album-presentation .album-data__secondary-info__item:first-child {
  padding-left: 0;
}

#discographiesVue .album-presentation .album-data__title {
  font-size: 30px;
  font-style: italic;
}

#discographiesVue .album-presentation .album-data__arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#discographiesVue .album-presentation .album-data__selected-track {
  margin-right: 20px;
}

#discographiesVue .album-presentation .album-data__name {
  margin-left: 10px;
  margin-right: 20px;
  font-style: italic;
}

#discographiesVue .album-presentation .album-data__logo {
  width: 80px;
  margin-top: 10px;
}

#discographiesVue .album-presentation .album-data__criteria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100px;
  border-left: solid 3px;
  padding-top: 10px;
  padding-left: 20px;
}

#discographiesVue .album-presentation .album-data__criterium {
  margin-right: 50px;
  font-size: 16px;
}

#discographiesVue .album-presentation__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#discographiesVue .album-presentation__description .players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: 30px;
  margin-bottom: 8px;
}

#discographiesVue .album-presentation__description .players__item {
  width: 500px;
  height: 300px;
  border: solid 3px #d6be94;
}

#discographiesVue .album-presentation__description .description {
  max-width: 760px;
}

#discographiesVue .album-presentation__description .description__gem {
  padding-left: 40px;
  font-size: 22px;
}

#discographiesVue .album-presentation__description .description__content {
  border-left: solid 3px;
  padding: 10px 20px 20px 20px;
  font-style: italic;
  font-size: 1.2rem;
}

#discographiesVue .similarAlbums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#discographiesVue .similarAlbums__title {
  margin-bottom: 6px;
}

#discographiesVue .similarAlbums__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#discographiesVue .similarAlbums .album-thumb {
  width: 150px;
}

#gemsVue {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 94vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#gemsVue .album-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid 1px;
  width: 80%;
  padding: 100px;
  margin: 0 auto;
}

#gemsVue .album-wrapper:last-of-type {
  border: none;
}

#gemsVue .album-wrapper:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

#gemsVue .album-wrapper .album-cover {
  height: 300px;
  border: solid 5px #d6be94;
  margin: 0 30px;
  cursor: pointer;
  display: block;
}

#gemsVue .album-wrapper .album-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#gemsVue .album-wrapper .album-infos .album-title {
  font-size: 30px;
  cursor: pointer;
}

#gemsVue .album-wrapper .album-infos .album-description {
  font-style: italic;
  font-size: 1.6rem;
  margin: auto 50px;
}

#statsVue {
  width: 100%;
  height: 94vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#statsVue .content {
  padding-top: 20px;
}

#statsVue .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 20px 0 50px 0;
}

#statsVue .charts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#statsVue .charts .table .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#statsVue .charts .table .row .legend {
  margin-right: 30px;
  width: 50px;
  display: block;
}

#subgenresVue {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 94vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#subgenresVue .subgenre-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid 1px;
  padding: 100px;
  margin: 0 auto;
}

#subgenresVue .subgenre-wrapper:last-of-type {
  border: none;
}

#subgenresVue .subgenre-wrapper:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

#subgenresVue .subgenre-wrapper:nth-child(even) .subgenre-infos {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

#subgenresVue .subgenre-wrapper:nth-child(even) .subgenre-albums {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#subgenresVue .subgenre-wrapper .subgenre-albums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
}

#subgenresVue .subgenre-wrapper .subgenre-albums .album-cover {
  height: 130px;
  border: solid 3px #d6be94;
  cursor: pointer;
  margin: 0 20px 37px 20px;
}

#subgenresVue .subgenre-wrapper .most-representative {
  height: 300px;
  border: solid 5px #d6be94;
  margin: 0 20px;
  cursor: pointer;
  display: block;
}

#subgenresVue .subgenre-wrapper .subgenre-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

#subgenresVue .subgenre-wrapper .subgenre-infos .subgenre-name {
  font-size: 30px;
}

#subgenresVue .subgenre-wrapper .subgenre-infos .subgenre-description {
  font-style: italic;
  font-size: 20px;
  text-align: justify;
  margin: 0;
  max-width: 800px;
}

#subgenresVue .subgenre-wrapper .subgenre-infos .subgenre-criteria {
  display: block;
  font-size: 20px;
}

#subgenresVue .subgenre-wrapper .subgenre-infos .subgenre-criteria .criterium {
  font-style: italic;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  color: #d6be94;
  background: #375456;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hidden {
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1500px) {
  body {
    font-size: 20px;
  }
  #gemsVue .album-wrapper .album-infos .album-title {
    font-size: 26px;
  }
  #gemsVue .album-wrapper .album-infos .album-description {
    font-size: 20px;
  }
  #atticVue #filter .filter-nav {
    width: 220px;
  }
  #atticVue #filter .filter-panel {
    width: 220px;
    font-size: 20px;
  }
  #atticVue #filter .filter-panel .checkbox-slot {
    width: 15px;
    height: 15px;
  }
  #atticVue .album-wrapper {
    height: auto;
    width: 14.28571%;
    font-size: 12px;
  }
  #statsVue .charts .histogram {
    font-size: 12px;
  }
  #statsVue .charts .albumsPerCategory .albumsPerCategory-nbOfAlbums .gauge {
    padding: 0px 3px;
    min-height: 10px;
    width: 15px;
    text-align: center;
  }
  #statsVue .charts .albumsPerCategory .albumsPerCategory-legend {
    margin-top: 8px;
  }
}

@media (max-width: 1100px) {
  header #menu {
    font-size: 15px;
    top: 2.5vh;
  }
  .search-wrapper #searchBar {
    width: 200px;
    font-size: 15px;
  }
  .search-wrapper #resetSearch {
    top: 2px;
  }
  .search-wrapper #searchResult {
    width: 200px;
    top: 35px !important;
    font-size: 15px;
  }
  #albumVue .content .album-cover-wrapper {
    height: 260px;
    border: solid 4px #d6be94;
    margin: 20px;
  }
  #gemsVue .album-wrapper .album-cover {
    height: 260px;
    border: solid 4px #d6be94;
  }
  #atticVue #filter {
    width: 250px;
    font-size: 15px;
  }
  #atticVue #filter .filter-nav-item {
    padding: 8px 15px;
  }
  #atticVue #filter .filter-panel {
    font-size: 15px;
    padding: 8px;
  }
  #atticVue #filter .filter-panel .checkbox-wrapper {
    margin-bottom: 5px;
  }
  #atticVue .album-wrapper {
    height: auto;
    width: 16.66667%;
  }
}

@media (max-width: 900px) {
  #atticVue .album-wrapper {
    height: auto;
    width: 20%;
  }
  #atticVue .album-wrapper .album-infos .album-rating {
    font-weight: normal;
  }
}

@media (max-height: 850px) {
  body {
    font-size: 20px;
  }
  .search-wrapper #searchResult {
    top: 43px;
  }
  .search-wrapper #resetSearch {
    top: 4px;
  }
  #albumVue .buttons {
    margin-top: 60px;
  }
  #albumVue .content .album-cover-wrapper {
    height: 260px;
    border: solid 4px #d6be94;
    margin: 20px;
  }
  #atticVue .filter-nav,
  #atticVue .filter-panel {
    width: 200px;
  }
  #timelineVue .album-wrapper .album-year {
    font-size: 15px;
    width: 75px;
    margin-right: -75px;
  }
}

@media (max-height: 600px) {
  #albumVue .content .album-cover-wrapper {
    height: 130px;
    border: solid 3px #d6be94;
    margin: 20px;
  }
  #albumVue .content .album-metadata {
    font-size: 15px;
  }
  #albumVue .content .album-metadata .album-title {
    font-size: 16px;
  }
  #albumVue .content .album-criteria {
    font-size: 15px;
  }
}
