// Fonts
// @import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@import url('https://fonts.googleapis.com/css?family=Oswald');

@import 'gatherer';

// Style
body {
    font-family: 'Oswald', sans-serif;
    font-size: $mainFontSize;
    color: $gold;

    // background: $black;
    // background: linear-gradient($dark 10%, $ocean 90%);
    background: linear-gradient($black 10%, $ocean 90%);
    // background-repeat: no-repeat;
    background-attachment: fixed;
    // height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hidden {
    // display: none !important; Can't
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
    user-select: none;
}

// ********** WIDTH ********** //

@media (max-width: 1500px) {

    body {
        font-size: $mainFontSizeSmall;
    }

    #gemsVue {
        .album-wrapper {
            .album-infos {
                .album-title {
                    font-size: $specialInfoFontSizeSmall;
                }
                .album-description {
                    font-size: $mainFontSizeSmall;
                }
            }
        }
    }
}

@media (max-width: 1100px) {

    header {
        #snackHeader {
            font-size: 32px;
            margin: 5px 0 -15px 0;
        }
        #menu {
            font-size: $menuFontSizeSmall;
        }
    }

    .search-wrapper {
        $searchBarWidth: 200px;
        #searchBar {
            width: $searchBarWidth;
            font-size: $menuFontSizeSmall;
        }
        #resetSearch {
            top: 2px;
        }
        #searchResult {
            width: $searchBarWidth;
            top: 35px !important;
            font-size: $menuFontSizeSmall;
        }
    }

    #albumVue {
        .content {
            .album-cover-wrapper {
                @include albumCoverMedium;
                margin: 20px;
            }
        }
    }

    #atticVue {
        .album-wrapper {
            height: 180px;
            width: 180px;
            font-size: 12px;
        }
    }

    #gemsVue {
        .album-wrapper {
            .album-cover {
                @include albumCoverMedium;
            }
        }
    }
}

// ********** HEIGHT ********** //

@media (max-height: 850px) {

    body {
        font-size: $mainFontSizeSmall;
    }

    .search-wrapper {
        #searchResult {
            top: 43px; // TODO find a dynamic way...
        }
        #resetSearch {
            top: 4px;
        }
    }

    #albumVue {
        .buttons {
            margin-top: 60px;
        }
        .content {
            .album-cover-wrapper {
                @include albumCoverMedium;
                margin: 20px;
            }
        }
    }

    #atticVue {
        padding-top: $headerHeight + 30px;
    }

    #timelineVue {
        .album-wrapper {
            .album-year {
                font-size: 15px;
                $albumYearWidth: 75px;
                width: $albumYearWidth;
                margin-right: -$albumYearWidth;
            }
        }
    }
}

@media (max-height: 600px) {

    #albumVue {
        .content {
            .album-cover-wrapper {
                @include albumCoverSmall;
                margin: 20px;
            }
            .album-metadata {
                font-size: 15px;
                .album-title {
                    font-size: 16px;
                }
            }
            .album-criteria {
                font-size: 15px;
            }
        }
    }
}
