@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow");
body {
  border: 0;
  margin: 0;
}

h1 {
  margin: 0;
}

button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}

button {
  width: 200px;
  border: solid 3px #a18a54;
  margin: 0 auto;
  padding: 5px;
  background: #030504;
  display: block;
}

button:hover {
  cursor: pointer;
  background: #a18a54;
  color: #030504;
}

a {
  color: #d7e4da;
}

a:hover, a:focus {
  color: #d7e4da;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#spinningVinylWrapper {
  overflow: hidden;
}

#spinningVinylWrapper .spinning {
  animation: spinning 30s linear infinite;
}

#spinningVinylWrapper .spinning-vinyl {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -100px;
  bottom: 0;
  z-index: -1;
  filter: grayscale(20%);
}

body {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 2rem;
  color: #a18a54;
  background: #030504;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: 150px;
  background-position: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  background: #030504;
  border-bottom: solid 10px #a18a54;
}

header button {
  position: absolute;
  left: 20px;
  top: 40px;
  width: 300px;
}

header h1 {
  width: 100%;
}

#albumVue {
  width: 100vw;
  height: 95vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#albumVue #randomButton {
  margin-top: 50px;
}

#albumVue .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#albumVue .content .album-metadata {
  text-align: right;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: right;
}

#albumVue .content .album-metadata #player {
  display: block;
  border: solid 3px #a18a54;
  margin-top: 14px;
}

#albumVue .content img {
  width: 300px;
  height: 300px;
  margin: 50px;
  border: solid 5px #a18a54;
}

#albumVue .content .album-criteria {
  width: 50%;
}

#albumVue footer {
  display: flex;
  position: absolute;
  bottom: 0;
  border-top: solid 10px #a18a54;
}

#albumVue footer img {
  height: 9.09091vw;
  width: 9.09091vw;
}

#albumVue footer img:hover {
  cursor: pointer;
}

#atticVue {
  display: flex;
  flex-wrap: wrap;
  padding: 180px 20px 50px 20px;
}

#atticVue #player {
  display: none;
}

#atticVue .artist {
  margin-right: 50px;
  margin-bottom: 50px;
}

#atticVue .artist:last-of-type {
  margin-right: 0;
}

#atticVue .artist .artist-discography {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#atticVue .artist .artist-discography .album-wrapper {
  display: flex;
  flex-direction: column;
}

#atticVue .artist .artist-discography .album-wrapper .album-year {
  font-size: 1.2rem;
}

#atticVue .artist .artist-discography .album-wrapper img {
  height: 100px;
  width: 100px;
  border-bottom: solid 3px #a18a54;
}

#atticVue .artist .artist-discography .album-wrapper img:hover {
  cursor: pointer;
  border-bottom: solid 3px #d7e4da;
}
