// Fonts
// @import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@import url('https://fonts.googleapis.com/css?family=Oswald');

@import 'gatherer';

// Style
body {
    font-family: 'Oswald', sans-serif;
    font-size: $mainFontSize;
    color: $primary;

    background: $secondary;
    // height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hidden {
    // display: none !important; Can't
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
    user-select: none;
}

// ********** WIDTH ********** //

@media (max-width: 1500px) {

    body {
        font-size: $mainFontSizeSmall;
    }

    #gemsVue {
        .album-wrapper {
            .album-infos {
                .album-title {
                    font-size: $specialInfoFontSizeSmall;
                }
                .album-description {
                    font-size: $mainFontSizeSmall;
                }
            }
        }
    }

    #atticVue {
        #filter {
            .filter-nav {
                width: 220px;
            }
            .filter-panel {
                width: 220px;
                font-size: $mainFontSizeSmall;
                .checkbox-slot {
                    width: 15px;
                    height: 15px;
                }
            }
        }
        .album-wrapper {
            $numberOfAlbumsPerRow: 7;
            height: auto;
            // min-height: 100% / $numberOfAlbumsPerRow;
            width: 100% / $numberOfAlbumsPerRow;
            font-size: 12px;
        }
    }

    #statsVue {
        .charts {
            .histogram {
                font-size: $chartsFontSizeSmall;
            }
            .albumsPerCategory {
                .albumsPerCategory-nbOfAlbums {
                    .gauge {
                        padding: 0px 3px;
                        min-height: 10px;
                        width: 15px;
                        text-align: center;
                    }
                }
                .albumsPerCategory-legend {
                    margin-top: 8px;
                }
            }
        }
    }
}

@media (max-width: 1100px) {

    header {
        #menu {
            font-size: $menuFontSizeSmall;
            top: 2.5vh;
        }
    }

    .search-wrapper {
        $searchBarWidth: 200px;
        #searchBar {
            width: $searchBarWidth;
            font-size: $menuFontSizeSmall;
        }
        #resetSearch {
            top: 2px;
        }
        #searchResult {
            width: $searchBarWidth;
            top: 35px !important;
            font-size: $menuFontSizeSmall;
        }
    }

    #albumVue {
        .content {
            .album-cover-wrapper {
                @include albumCoverMedium;
                margin: 20px;
            }
        }
    }

    #gemsVue {
        .album-wrapper {
            .album-cover {
                @include albumCoverMedium;
            }
        }
    }

    #atticVue {
        #filter {
            width: 250px;
            font-size: $menuFontSizeSmall;
            .filter-nav-item {
                padding: 8px 15px;
            }
            .filter-panel {
                font-size: $menuFontSizeSmall;
                padding: 8px;
                .checkbox-wrapper {
                    margin-bottom: 5px;
                }
            }
        }
        .album-wrapper {
            $numberOfAlbumsPerRow: 6;
            height: auto;
            // min-height: 100% / $numberOfAlbumsPerRow;
            width: 100% / $numberOfAlbumsPerRow;
        }
    }
}

@media (max-width: 900px) {

    #atticVue {
        .album-wrapper {
            $numberOfAlbumsPerRow: 5;
            height: auto;
            // min-height: 100% / $numberOfAlbumsPerRow;
            width: 100% / $numberOfAlbumsPerRow;
            .album-infos {
                .album-rating {
                    font-weight: normal;
                }
            }
        }
    }

}

// ********** HEIGHT ********** //

@media (max-height: 850px) {

    body {
        font-size: $mainFontSizeSmall;
    }

    .search-wrapper {
        #searchResult {
            top: 43px; // TODO find a dynamic way...
        }
        #resetSearch {
            top: 4px;
        }
    }

    #albumVue {
        .buttons {
            margin-top: 60px;
        }
        .content {
            .album-cover-wrapper {
                @include albumCoverMedium;
                margin: 20px;
            }
        }
    }

    #atticVue {
        .filter-nav,
        .filter-panel {
            width: 200px;
        }
    }

    #timelineVue {
        .album-wrapper {
            .album-year {
                font-size: 15px;
                $albumYearWidth: 75px;
                width: $albumYearWidth;
                margin-right: -$albumYearWidth;
            }
        }
    }
}

@media (max-height: 600px) {

    #albumVue {
        .content {
            .album-cover-wrapper {
                @include albumCoverSmall;
                margin: 20px;
            }
            .album-metadata {
                font-size: 15px;
                .album-title {
                    font-size: 16px;
                }
            }
            .album-criteria {
                font-size: 15px;
            }
        }
    }
}
