.checkbox-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    .checkbox-slot {
        position: relative;
        display: block;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background: $black;
        border: solid 2px $gold;
        margin-right: 10px;
    }

    &.isRadio {
        .checkbox-slot {
            border-radius: 50%;
        }
    }

    &.checked {
        .checkbox-slot {
            background: $gold;
        }
    }

    &:hover .checkbox-slot {
        background: linear-gradient(141deg, $ocean 10%, $brown 90%);
    }
    &.checked:hover {
        // Keep gold state if checked to avoid confusion
        .checkbox-slot {
            background: $gold;
        }
    }

    label {
        cursor: pointer;
    }
  
}