
#subgenresVue {
    // display: flex; // Fucks up chrome
    flex-direction: column;
    align-items: center;
    @include vue;
    .subgenre-wrapper {
        display: flex;
        border-bottom: solid 1px;
        // width: 80%;
        padding: 100px;
        margin: 0 auto; // Thx chrome
        &:last-of-type {
            border: none;
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
            text-align: right;
            .subgenre-infos {
                align-items: end;
            }
            .subgenre-albums {
                justify-content: left;
            }
        }

        .subgenre-albums {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-content: baseline;
            .album-cover {
                @include albumCoverSmall;
                cursor: pointer;
                margin: 0 20px 37px 20px;
            }
        }
        .most-representative {
            @include albumCover;
            margin: 0 20px;
            cursor: pointer;
            display: block;
            box-shadow: 0px 0px 500px -50px $gold;
        }
        .subgenre-infos {
            display: flex;
            flex-direction: column;
            padding: 0 20px;
            .subgenre-name {
                font-size: $specialInfoFontSize;
            }
            .subgenre-description {
                font-style: italic;
                font-size: $mainFontSizeSmall;
                text-align: justify;
                margin: 0;
                max-width: 800px;
            }
            .subgenre-criteria {
                display: block;
                font-size: $mainFontSizeSmall;
                .criterium {
                    font-style: italic;
                }
            }
        }    
    }
}