#atticVue {
    $albumHeight: 220px;
    $filterNavWidth: 250px;
    $filterPanelWidth: 300px;

    @include vue;
    display: flex;
    overflow: hidden;

    #filter {
        left: 0;
        bottom: 0;

        background: linear-gradient(141deg, $ocean 10%, $brown 90%);
        box-sizing: border-box;
        display: flex;

        .filter-nav {
            width: $filterNavWidth;
            border-right: solid $borderThick $gold;
            box-sizing: border-box;

            .filter-nav-item {
                cursor: pointer;
                border-bottom: solid 1px $gold;
                padding: 15px 20px;

                &.filter-nav-item-active {
                    background: $gold;
                    color: $black;
                }
            }
        }

        .filter-panel {
            width: $filterPanelWidth;
            border-right: solid $borderThick $gold;
            padding: 25px 20px 15px 20px;
            box-sizing: border-box;

            .checkbox-wrapper {
                margin: 0 5px;
            }
            .radio-wrapper {
                margin: 0 5px;
            }
            .filter-panel-bundle {
                margin-bottom: 30px;
            }
        }
    }

    #albumList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // margin-left: $filterNavWidth + $filterPanelWidth + $borderThick * 2;
        overflow-y: scroll;
        width: 100%;
    }

    .album-wrapper {
        $numberOfAlbumsPerRow: 8;
        display: flex;
        flex-direction: column;
        position: relative;
        // height: $albumHeight;
        // width: $albumHeight;
        width: 100% / $numberOfAlbumsPerRow;
        &:hover {
            .album-infos {
                opacity: 1;
                cursor: pointer;
            }
        }
        .album-infos {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            font-size: $mainFontSizeSmall;
            text-align: center;
            background: rgba(0, 0, 0, 0.7);
            opacity: 0;
            transition: opacity 0.2s;
            padding: 5px;
            box-sizing: border-box;
            .album-rating {
                font-style: italic;
                font-weight: bold;
                border-top: solid;
                border-bottom: solid;
            }
        }
        img {
            width: 100%;
            &:hover {
                cursor: pointer;
            }
        }
    }
}