#atticVue {
    $albumHeight: 220px;
    $filterWidth: 400px;

    #filter {
        position: fixed;
        z-index: 1;

        left: 0;
        top: $headerHeight + $borderThick + 24px;
        bottom: 0;
        width: filterWidth;

        background: linear-gradient(141deg, $ocean 10%, $brown 90%);
        border-right: solid $borderThick $gold;
        padding: 5px;
        box-sizing: border-box;
        overflow-y: scroll;
    }

    #albumList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: $headerHeight + $borderThick + 50px 0 50px 0;
        margin-left: $filterWidth;
    }

    .album-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        height: $albumHeight;
        width: $albumHeight;
        &:hover {
            .album-infos {
                opacity: 1;
                cursor: pointer;
            }
        }
        .album-infos {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            font-size: $mainFontSizeSmall;
            text-align: center;
            background: rgba(0, 0, 0, 0.7);
            opacity: 0;
            transition: opacity 0.2s;
            padding: 5px;
            box-sizing: border-box;
            .album-rating {
                font-style: italic;
                font-weight: bold;
                border-top: solid;
                border-bottom: solid;
            }
        }
        img {
            width: 100%;
            &:hover {
                cursor: pointer;
            }
        }
    }
}