#timelineVue {
    $timelineHeight: 23vh;
    display: flex;
    align-items: flex-start;
    width: 100vw;
    height: $timelineHeight;
    overflow-x: scroll;
    overflow-y: hidden;
    position: fixed;
    bottom: 0;
    // border-top: solid $borderThick $primary;
    // cursor: grab;
    .album-wrapper {
        display: contents;
        .album-placeholder {
            height: $timelineHeight;
            width: $timelineHeight;
            background: $primary;
            border-top: solid $borderThick $primary;
            margin-top: 20px;
            display: block;
            .album-cover {
                // height: 180px;
                // width: 180px;
                height: 100%;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .album-year {
            $albumYearWidth: 95px;
            // writing-mode: vertical-rl;
            // // text-orientation: upright;
            // transform: rotateZ(180deg);
            text-align: center;
            z-index: 1;
            background: $black;
            color: $primary;
            padding: 5px 20px;
            display: table;
            width: $albumYearWidth;
            margin-right: -$albumYearWidth;
            border: solid $borderThin $primary;
            box-sizing: border-box;
            border-radius: $borderRadius;
            border-bottom-left-radius: 0;
        }
    }
}