@keyframes GradientWave {
    0%{background-position:0% 50%}
    100%{background-position:100% 50%}
}

@mixin button {
    background: $secondary;
    background-size: 400%;
}

@mixin button-hover {
    // background: linear-gradient(141deg, $secondary 10%, $black 90%);
    background: linear-gradient(141deg, $secondary 0%, $secondary 70%, $ternary 90%);
    background-size: 250%;
    background-position: 100%;
    animation: GradientWave 0.2s ease;
}

button {
    // width: 200px;
    @include button;
    border: solid $borderThin $primary;
    padding: 5px 20px;
    display: block;

    &:hover {
        cursor: pointer;
        // background: $primary;
        // color: $black;
        @include button-hover;
    }
}