header {
    // height: $headerHeight;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
    // background: $black;
    // background: linear-gradient(141deg, $black 0%, $ocean 10%, $brown 90%);
    background: linear-gradient(141deg, $ocean 10%, $brown 90%);
    border-bottom: solid $borderThick $gold;
    padding: 0 20px;
    box-sizing: border-box;

    #snackHeader {
        margin: 10px 0 -10px 0;
        cursor: pointer;
    }

    #menu {
        display: flex;
        position: relative;
        top: 30px;
        button {
            width: auto;
            border-right-width: 0;
            &.button-active {
                color: $black;
                background: $gold;
                pointer-events: none;
            }
            &:last-of-type {
                border-right-width: $borderThin;
            }
        }
    }
}