.radio-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    .radio-slot {
        position: relative;
        display: block;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background: $black;
        border: solid 2px $gold;
        border-radius: 50%;
        margin-right: 10px;
    }

    &.checked {
        .radio-slot {
            background-color: $gold;
        }
    }

    &:hover .radio-slot {
        background: linear-gradient(141deg, $ocean 10%, $brown 90%);
    }

    label {
        cursor: pointer;
    }
  
}