
#subgenresVue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $headerHeight + 30px 20px 50px 20px;
    .subgenre-wrapper {
        display: flex;
        border-bottom: solid 1px;
        width: 80%;
        padding: 100px;
        &:last-of-type {
            border: none;
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
            text-align: right;
        }
        .most-representative {
            @include albumCover;
            margin: 0 30px;
            cursor: pointer;
            display: block;
            box-shadow: 0px 0px 500px -50px $gold;
        }
        .subgenre-infos {
            display: flex;
            flex-direction: column;
            .subgenre-description {
                font-style: italic;
                font-size: 1.6rem;
                margin: auto 50px;
            }
            .albums {
                display: flex;
                .album-cover {
                    width: 120px;
                    height: 120px;
                    cursor: pointer;
                }
            }
        }
    }
}