@keyframes spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

#spinningVinylWrapper {
    position: absolute;
    overflow-x: visible;
    overflow-y: hidden;
    display: flex;
    // justify-content: center;
    width: 300px;
    right: 0;
    height: 100%;
    z-index: -1;

    .spinning {
        animation: spinning 30s linear infinite;
    }
    
    .spinning-vinyl {
        position: relative;
        top: 40%;
        height: 180%;
        opacity: 0.8;
        filter: grayscale(20%);
    }
}
