#discographiesVue {
    display: flex;
    @include vue;

    .artistsSection {
        display: flex;
        flex-direction: column;
        left: 0;
        bottom: 0;
        // height: 100vh;
        width: 300px;
        min-width: 300px;
        // box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 15px;
        border-right: solid 2px $primary;
        font-size: 18px;
        box-sizing: border-box;

        .artist {
            &:hover {
                cursor: pointer;
            }
            &--selected {
                display: flex;
                align-items: center;
                font-size: 22px;
            }
            .arrow {
                transform: rotate(90deg);
            }
        }
    }

    .discographySection {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 178px;
        height: 100%;
        box-sizing: border-box;
        overflow-x: hidden;
        
        .albumCover {
            width: 120px;
            height: 120px;
            border-right: solid 2px $primary;
            &:last-of-type {
                border-bottom: solid 2px $primary;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }

    .albumSection {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .logo {
            width: 100px;
            &:hover {
                cursor: pointer;
            }
        }

        .albumData {
            text-align: right;
            width: 45%;
            &__title {
                font-style: italic;
                font-size: $specialInfoFontSize;
            }
            &__selectedTrack {
                font-style: italic;
            }

            .logo-youtube {
                width: 100px;
                margin-top: 10px;
            }
            
        }
    
        .sleeve {
            display: flex;
            margin: 45px;
            width: auto;
            &__albumCover {
                // width: 100%;
                height: 100%;
                // margin:45px;
                // border: solid 5px $primary;
                display: block;
                border: solid 3px $primary;

            }
            &__player {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .playerLogos {
                    display: flex;
                    justify-content: space-evenly;
                    margin-bottom: 8px;

                }
                .player {
                    width: 250px;
                    height: 250px;
                    border: solid 3px $primary;
                    border-left: none;
                }
            }
        }

        .album-gem {
            font-size: $specialInfoFontSize;
        }
    
        .album-criteria {
            width: 45%;
        }
    }

}