.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    z-index: 1;
    
    height: 60px;
    width: 100vw;
    
    background: $secondary-dark;
    border-bottom: solid 2px $primary;
    padding: 0 20px;
    box-sizing: border-box;

    &__headline {
        font-size: 30px;
        // margin: 10px 0 -10px 0;
        cursor: pointer;
    }

    &__menu {
        height: 100%;
        font-size: 20px;
    }
}

.menu {
    display: flex;
    align-items: center;
    height: 100%;
    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin: 0 20px;
        white-space: nowrap;
        &:hover {
            cursor: pointer;
        }
        &.router-link-active {
            pointer-events: none;
            .arrow {
                transform: rotate(180deg);
            }
        }
        .text {
            padding: 15px 0; // Align arrow on the bottom header line
        }
    }

}