// Paths
$pathToImg: "../assets/img";

// Values
$borderThin: 3px;
// $borderMedium: 5px;
$borderThick: $borderThin * 2;
$headerHeight: 100px + $borderThin;

// Font sizes
$headerFontSize: 50px;
$mainFontSize: 25px;
$specialInfoFontSize: 32px;

$headerFontSizeSmall: 30px;
$menuFontSizeSmall: 15px;
$mainFontSizeSmall: 20px;
$specialInfoFontSizeSmall: 26px;
