#albumVue {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include vue;

    button {
        display: flex;
        align-self: center;

        border-radius: $borderRadius;
    }

    #randomButton {
        margin-top: 50px;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .album-metadata {
            text-align: right;
            width: 45%;
            .album-title {
                font-style: italic;
                font-size: 38px;
            }
            #player {
                display: block;
                border: solid 3px $primary;
                margin-top: 14px;
            }
        }
    
        .album-cover-wrapper {
            display: flex;
            margin: 45px;
            margin-bottom: 25px;
            @include albumCover;
            width: auto;
            img {
                // width: 100%;
                height: 100%;
                // margin:45px;
                // border: solid 5px $primary;
                display: block;
            }
        }

        .album-gem {
            font-size: $specialInfoFontSize;
        }
    
        .album-criteria {
            width: 45%;
        }

    }

    .album-selected-track-wrapper {
        margin-bottom: 45px;
        .album-selected-track {
            font-style: italic;
            padding: 0 5px;
        }
        .youtube-logo {
            width: 100px;
            margin-top: 10px;
        }
    }


}