#gemsVue {
    // display: flex; // Fucks up chrome
    flex-direction: column;
    align-items: center;
    @include vue;

    .album-wrapper {
        display: flex;
        border-bottom: solid 1px;
        width: 80%;
        padding: 100px;
        margin: 0 auto; // Thx chrome
        &:last-of-type {
            border: none;
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
            text-align: right;
        }
        .album-cover {
            @include albumCover;
            margin: 0 30px;
            cursor: pointer;
            display: block;
        }
        .album-infos {
            display: flex;
            flex-direction: column;
            .album-title {
                font-size: $specialInfoFontSize;
                cursor: pointer;
            }
            .album-description {
                font-style: italic;
                font-size: 1.6rem;
                margin: auto 50px;
            }
        }
    }
}