#designersVue {
    // display: flex; // Fucks up chrome
    flex-direction: column;
    align-items: center;
    @include vue;

    .designer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        padding: 40px;
        margin: 0 auto; // Thx chrome

        &__name {
            font-size: $specialInfoFontSize;
            padding-bottom: 10px;
        }

        .border-wrapper {
            border-top: solid 2px;
            padding: 0 50px;
            .arrow {
                transform: rotate(180deg);
                margin: 0 auto;
                margin-bottom: -20px;
                z-index: 1;
            }
        }

        &__albums {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .album-thumb {
                display: flex;
                flex-direction: column;
                position: relative;
                // height: $albumHeight;
                // width: $albumHeight;
                height: auto;
                font-size: 17px;
                width: 150px;
                height: 150px;
            }
        }
    }
}